{% extends "base.html" %}

{% block app_content %}
<div class="main__items">
<div class="card" style="background: rgb(236, 236, 236); padding: 30px; margin: 10px 20px;">
  <div class="card__menu">
  </div>
  <div class="card__main">
    <div class="ant-card" style="width: 600px;">

        {% from "formhelpers.html" import render_field %}
      <form action="/add_question" method="POST" name="question">
          <div class="ant-card-body">
              {{ form.hidden_tag() }}

              {{ render_field(form.question, class="ant-input", style="margin: 0px 0px 10px;", rows="2") }}
              {{ render_field(form.answer, class="ant-input", style="margin: 0px 0px 10px;", rows="4") }}
              {{ render_field(form.initial_score, class="ant-input", style="margin: 0px 0px 10px;", rows="1") }}
              {{ render_field(form.is_one_attempt, class="ant-checkbox") }}
            <button type="input" class="ant-btn ant-btn-primary ant-btn-block"
              style="margin: 10px 0px;"><span>Add</span></button>
          </div>
      </form>
    </div>
  </div>
</div>
</div>

{% endblock %}
