{% extends "base.html" %}

{% block app_content %}
    {% from "formhelpers.html" import render_field %}
    {% from "formhelpers.html" import render_field_without_label %}

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>

            {{ render_field(form.username, class="ant-input", style="margin: 0px 0px 10px;", rows="1", size=32) }}
        </p>
        <p>
            {{ render_field(form.email, class="ant-input", style="margin: 0px 0px 10px;", rows="1", size=32) }}
        </p>
        <p>
            {{ render_field(form.password, class="ant-input", style="margin: 0px 0px 10px;", rows="1", size=32) }}
        </p>
        <p>
            {{ render_field(form.password2, class="ant-input", style="margin: 0px 0px 10px;", rows="1", size=32) }}
        </p>
        <p> {{ render_field_without_label(form.submit, class="ant-btn ant-btn-primary",
                style="margin: 10px;", text="Sign in") }} </p>
    </form>
{% endblock %}
